@import "tailwindcss";

#socials {
  width: 32px;
  height: 32px;
}


#user {
  width: 64px;
  height: 64px;
}

#icons {
  width: 32px;
  height: 32px;
  filter: invert(40%) sepia(80%) saturate(500%) hue-rotate(200deg);
}

#skill_icon {
  width: 32px;
  height: 32px;
  
}